body {
    background-color: black;
    text-align: center;
}

/* UNIVERSAL TEXT STYLES */

h1, h2, h3, h4, p, span {
    font-family: Verdana, sans-serif;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 3.125em;
    
}

h2 {
    font-weight: 300;
    font-size: 2.625em;
}

p {
    font-size: 1.3125em;
}

/* HEADER */

header {
    display: block;
    width: 100%;
    margin: auto;
}

/* DOWNLOAD */

.download {
    font-size: 1em;
}

.download h4 {
    color: aquamarine;
    text-decoration: underline;
}

/* DESCRIPTION */

.description p {
    color: gray;
}

/* SUPPORTING SECTION */

.supporting-section img {
    padding-top: 20px;
}

/* FOOTER */

footer {
    text-align: right;
    padding-top: 5px;
}

footer span {
    color: gray;
}